<h2>Events</h2>

<div="container ">

    <date-picker ng-model="dateSelected" format-date="formatDate" on-date-selected="getEvent()"> </date-picker>
    <h2>{{dateSelected}}</h2>
    <br/>
    <div class="row">
        <div>
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Room</th>
                    <th>Price</th>
                    <th>Register</th>                  
                </tr>
                <tr ng-repeat="e in events">
                    <td>{{e.timeBegin}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.roomName}}</td>
                    <td>{{e.price}}</td>
                    <td> <button onclick="" class="btn btn-default" ng-if="!pastevent">Join</button></td>

                </tr>

               
            </table>
           
        </div>
    </div>
</div>

