<h1>Create a new ponctual event</h1>
<div class="container " ng-controller="ponctualEventCreationPageController">
    <div class="row">
       <!--
        <div name="formRegistration" class="col-md-3 col-lg-offset-4">
            <form ng-submit="register()">

                <div class="form-group">
                    <input type="email" class="form-control" ng-model="user.mail" placeholder="Event name" required>
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="user.password" class="form-control" ng-model="user.password" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <input type="password" id="passwordBis" name="passwordBis" class="form-control" ng-model="user.passwordBis" placeholder="Password Confirmation" required samepassword="password">
                </div>
                <p class="text-danger" ng-if="passNotMatch">Passwords don't match</p>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.firstName" placeholder="Firstname">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.lastName" placeholder="Lastname">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.adr1" placeholder="Address">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.adr2" placeholder="Rest of the address ">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.pc" placeholder="Postal Code ">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.town" placeholder="Town ">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="user.phone" placeholder="Phone ">
                </div>

                <input type="submit" id="submit" value="Sign in" class="btn btn-primary" />
            </form>
        </div>
-->
    </div>
</div>

