<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <h2>Users managment</h2>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>

                        <input type="text" class="form-control" placeholder="Search for an User" ng-model="searchUser">

                    </div>
                </div>
            </form>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Are you sur you want to delete {{userTodelete.firstname}} ?</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                </div>
            </script>


                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="sortType = 'userId' ; sortReverse = !sortReverse">
                                    User ID
                                    <span ng-show="sortType == 'userId' && sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    <span ng-show="sortType == 'userId' && !sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="sortType = 'firstname'; sortReverse = !sortReverse">
                                    Firstname
                                    <span ng-show="sortType == 'firstname' && sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    <span ng-show="sortType == 'firstname' && !sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="sortType = 'lastname'; sortReverse = !sortReverse">
                                    Lastname
                                    <span ng-show="sortType == 'lastname' && sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    <span ng-show="sortType == 'lastname' && !sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </a>
                            </th>
                            <th>
                                <a href="" ng-click="sortType = 'mail'; sortReverse = !sortReverse">
                                    Email
                                    <span ng-show="sortType == 'mail' && sortReverse" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                    <span ng-show="sortType == 'mail' && !sortReverse" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </a>
                            </th>
                            <th><a href="">Admin</a></th>
                            <th><a href="">Manager</a></th>
                            <th><a href="">Contributor</a></th>
                            <th><a href="">Member</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="u in users | orderBy:sortType:sortReverse| filter:searchUser" id="tr{{u.userId}}" ng-init="u.adminChecked=(u.admin!=undefined); u.managerChecked=(u.manager!=undefined); u.contributorChecked=(u.contributor!=undefined); u.memberChecked=(u.member!=undefined)">
                            <td>{{u.userId}}</td>
                            <td>{{u.firstname}}</td>
                            <td>{{u.lastname}}</td>
                            <td>{{u.mail}}</td>
                            <td><label><input type="checkbox" ng-checked="u.admin" ng-model="u.adminChecked"/></label></td>
                            <td><label><input type="checkbox" ng-checked="u.manager" ng-model="u.managerChecked"/></label></td>
                            <td><label><input type="checkbox" ng-checked="u.contributor" ng-model="u.contributorChecked"/></label></td>
                            <td><label><input type="checkbox" ng-checked="u.member" ng-model="u.memberChecked"/></label></td>
                            <td><input class="btn btn-danger btn-sm" value="delete" ng-click="open(u)"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1 col-md-offset-10">
                <button class="btn btn-primary btn-lg" ng-click="validate()">Validate</button>
            </div>
        </div>
    </div>
</div>
